name: Deploy Hexo Blog
on:
  push:
    branches: [ hexo ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          ref: hexo
      - name: Setup Node.js environment
        uses: actions/setup-node@v1
        with:
          node-version: '12'
      - name: Configure pnpm
        run: |
            npm -g i pnpm
            pnpm -g add pnpm
      - name: Cache Dependencies
        id: pnpm-cache
        uses: actions/cache@v2
        with:
          path: "~/.pnpm-store"
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-
      - name: Check Cache Hit
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          rm -f pnpm-lock.yaml
      - name: Install Dependencies
        run: pnpm i
      - name: Deploy
        id: deploy
        uses: sma11black/hexo-action@v1.0.2
        with:
          deploy_key: ${{ secrets.DEPLOY_KEY }}
          user_name: "FWF MIAO"
          user_email: "liu-fengyu@outlook.com"
          commit_msg: ${{ github.event.head_commit.message }}
      - name: Get the output
        run: |
          echo "${{ steps.deploy.outputs.notify }}"