name: Deploy Hexo Blog
on:
  push:
    branches: [ hexo ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          ref: hexo
      - name: Setup Node.js environment
        uses: actions/setup-node@v1
        with:
          node-version: '12'
      - name: Setup Pnpm environment
        uses: pnpm/action-setup@v1.2.0
        with:
          version: 4.11.1
      - name: Cache Dependencies
        id: pnpm-cache
        uses: actions/cache@v2
        with:
          path: "~/.pnpm-store"
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-
      - name: Check Cache Hit
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          rm -f pnpm-lock.yaml
      - name: Install Dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
      - name: Deploy
        run: |
          cd public
          git init
          git config user.name "${{ secrets.GIT_USER_NAME }}"
          git config user.email "${{ secrets.GIT_USER_EMAIL }}"
          git commit -a -m "Update Static Site"
          git push -f -q "https://${{ secrets.DEPLOY_KEY }}@${{ secrets.GIT_URL }}" master:master